/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
      :root {
        --blue-start: #60c8ff;
        --blue-mid: #20b1ec;
        --blue-end: #0ea5e9;
      }
      html,
      body,
      #app {
        height: 100%;
      }
      .grad-right {
        
        background: linear-gradient(
          180deg,
          var(--blue-start) 0%,
          var(--blue-mid) 40%,
          var(--blue-end) 100%
        );
      }
      .step-circle {
        width: 48px;
        height: 48px;
        border-radius: 9999px;
        border-width: 2px;
      }
      .icon-circle {
        width: 64px;
        height: 64px;
        border-radius: 9999px;
      }
